.advantages
{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 1rem;
    max-width: 80rem;
    margin-inline: auto;
     margin-bottom: 6rem;
}

.advantage__article
{

    padding: 1rem;
    grid-row: span 3;
    display: grid;
    gap: 4rem;
    grid-template-rows: subgrid;

}

.advantages-headline
{
    
    padding: 1rem;
    grid-row: 1;
    grid-column: span 3;
    font-size: 36px;
}
.advantages_icon
{
    height: 32px;
    width: 32px;
}
.advantages__headline{

}
.advantages__text{

}
