.services    /* services container */
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 1rem;
    max-width: 80rem;
    margin-inline: auto;
    margin-top: 20rem;
    margin-bottom: 6rem;
}

.grid-container__article
{
    border: 1px solid black;
    padding: 1rem;
    grid-row: span 4;
    display: grid;
    grid-template-rows: subgrid;

}
.grid-container__article p
{
color:#000000;
}
.grid-container__button
{
    color:#F78065 ;
}