*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper
{
    width: 1440px;
    border: 1px solid black;
    margin-inline: auto;

}
img
{   width: 100%;
    display: block;
}

/* header */
/* section - hero */

.hero
{
   
position: relative;
}
.hero__img
{

}


.hero__figure
{
   
    position: absolute;
    top: 0;
    z-index: 1;
     width: 100%;
    

}
.figure__svg
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;  
}
.figure__svg svg
{
 display: flex;
}
.cube
{
    display: flex;

}
.hero__section__headline
{
    width: 741px;
    height: 537px;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    z-index: 2;
    transform: translate(5%,-50%);
 display: grid;
 padding-inline: 100px;
  padding-block: 100px;
 gap:5px;
}

.hero__section__headline  h1
{
    font-weight: bold;
    font-size: 39px;
}
.hero__section__headline p{
    font-size: 20px;
}
.hero__button
{
    background-color:#F78065 ;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 65px;
    gap:10px;
}
.hero__button img
{
    height: 24px;
    width: 24px;
}

